.center-container {
    margin: 10px;
    text-align: center;
    box-sizing: inherit;
}

select.custom-select {
    background-color: white;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 5px; /* Rounded border */
    font-size: 18px; /* Font size */
    padding: 5px; /* Padding around the text */
    font-weight: bold; /* Bold text */
    text-align: center;
  }

.top-bar {
    display: flex;
    align-items: center;
    height: 45px;
    background-color: #f3f3f3;
}

.ui {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
    margin: -1rem;
}

.row {
    display: flex;
    justify-content: center; /* Centers children horizontally within the row */
    width: 100% !important;
    padding-left: 1rem;
}

.left.aligned {
    text-align: left;
}

.column {
    max-width: 800px; /* Maxes out at 800px */
    width: 100%; /* Takes the width of its parent up to 800px */
    padding: 10px;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
}

.two-col {
    max-width: 25% !important;
}
.four-col {
    max-width: 75% !important;
}

.huge {
    font-size: 1.25em;
    font-weight: 400;
}

.search-bar {
    max-width: 100%;
    flex: 1 0 auto;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
    padding: .67857143em 1em;
    line-height: 1.25em;
    font-size: 100%;
}





/* Buttons */
button {
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
}

.button-row {
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    display: inline-flex;
}
button.char {
    padding: 10px 14px;
    border-radius: 0rem;
    cursor: pointer;
}

.ui-divider {
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}

div.word {
    font-size: 18px;
    padding-bottom:5px;
    font-weight: 450;
    margin-left: 5px;
}

div.definition {
    padding-top:5px;
    margin-left: 5px;
}

.icon {
    cursor: pointer;
    line-height: 2.5;
    text-align: center;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
    width: 2.67142857em;
    opacity: .5;
    border-radius: 0 .28571429rem .28571429rem 0;
    transition: opacity .3s ease;
    color: #767676 !important;
    display: inline-block;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
}

span.top-bar {
    color: #777;
    margin-left: 12px;
    font-style: italic;
}

li {
    font-size: 20px;
    margin:10px
}

span.description {
    color: #777;
    font-style: italic;
    text-align: right;
}

span.tabular {
    font-size:18px;
    padding:5px;
}

div.principalPart {
    padding-top:5px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:30px;
}

div.rePreset {
    position:absolute;right:0px;background: #eee; z-index: 1;
    padding: 10px 15px;
    border-radius: 9px;
    max-width:350px;
}

span.subtitle {
    font-weight: 450;
}

li.re {
    font-size: 14px;
}